@import-normalize; /* bring in normalize.css styles */
/*
Downloaded Fonts:
Roboto
Roboto Slab
Abril Fatface (masthead)
*/
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;531;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


$tablet: 768px;
$small-desktop: 1024px;
$medium-desktop: 1500px;
$large-desktop: 1800px;

@mixin mobile {
    @media (max-width: #{$tablet}) {
        @content;
    }
}
  
// @mixin non-mobile {
//     @media (min-width: #{$tablet + 1px}) {
//         @content;
//     }
// }
  
@mixin tablet {
    @media (min-width: #{$tablet}) and (max-width: #{$small-desktop - 1px}) {
        @content;
    }
}

@mixin small-desktop {
    @media (min-width: #{$small-desktop}) and (max-width: #{$medium-desktop - 1px}) {
        @content;
    }
}

@mixin medium-desktop {
    @media (min-width: #{$medium-desktop}) and (max-width: #{$large-desktop - 1}) {
        @content;
    }
}

@mixin large-desktop {
    @media (min-width: #{$large-desktop}) {
        @content;
    }
}

body {
    font-family: 'Roboto', sans-serif;
    color: #444;
    margin: 0px;
}

//Highlighting Parent Elements
$transitionTime: 0.1s;

.deleteHighlight {
    background-color: #B3F5FF !important; /*T75 - Arctic chill*/
    border: 1px dashed #172B4D !important;
    input {
        background-color: #E6FCFF !important; /*T50 - Gram's sofa*/
        transition: all $transitionTime ease-in;
    }
    select {
        background-color: #E6FCFF !important; /*T50 - Gram's sofa*/
        transition: all $transitionTime ease-in;
    }
    transition: all $transitionTime ease-in;
}

.deleteHighlight {
    background-color: #B3F5FF !important; /*T75 - Arctic chill*/
    border: 1px dashed #172B4D !important;
    color: #172B4D !important;
    input {
        background-color: #E6FCFF !important; /*T50 - Gram's sofa*/
        transition: all $transitionTime ease-in;
    }
    select {
        background-color: #E6FCFF !important; /*T50 - Gram's sofa*/
        transition: all $transitionTime ease-in;
    }
    transition: all $transitionTime ease-in;
}

.removeHighlight {
    transition: all $transitionTime ease-out;
}

.deleteHighlightNoBorder {
    background-color: #B3F5FF; /*T75 - Arctic chill*/
    input {
        background-color: #E6FCFF; /*T50 - Gram's sofa*/
        transition: all $transitionTime ease-in;
    }
    select {
        background-color: #E6FCFF; /*T50 - Gram's sofa*/
        transition: all $transitionTime ease-in;
    }
    transition: all $transitionTime ease-in;
}

.hidenSection {
    background-color: #DFE1E6;
    padding-top: .1em !important;
    padding-bottom: .1em !important;
    border: 3px groove #7A869A !important;
    transition: all $transitionTime ease-in;
    input {
        background-color: #EBECF0;
        text-decoration: line-through;
        line-height: .5em !important;
        font-size: 11px;
        transition: all $transitionTime ease-in;
    }
    div {
        padding-top: 0.1em !important;
        padding-bottom: 0.1em !important;
        transition: all $transitionTime ease-in;
    }
    h3 {
        text-decoration: line-through;
    }
}

//css for resume page break in preview. Just for visual effect. Actual page break sent in-line.
// Class gets elements that fall after the pagebreak and need to be moved down in the preview.
.pageBreakOffset {
    position: relative;
    top: 108px; /*half inch for bottom and first page and half inch for top of second page and 12 for page break */ 
}

.resumeOverflow {
    display: none;
}

#ResumeContent {
    li {
        line-height: 15px;
        padding-bottom: 2px;
    }
}

//TODO move media queries and this crap into styled-components
#resumeInput {
    border-right: 1px solid #444;
    padding: 1em;
    overflow-y: auto;
    height: 100vh;
    width: 50%;
    max-width: 700px;
    min-width: 450px;

    /*
    @include large-desktop {
        width: 45%;
    }

    @include medium-desktop {
        width: 40%;
    }

    @include small-desktop {
        width: 30%;
    }

    @include tablet {
        width: 30%;
    }

    @include mobile {
        width: 30%;
    }
*/    
}

/*
#resumePreview {
    border-top: 1px solid #444;
    min-width: 848px;

    @include large-desktop {
        width: 55%;
    }

    @include medium-desktop {
        width: 60%;
    }

    @include small-desktop {
        width: 70%;
    }

    @include tablet {
        width: 70%;
    }

    @include mobile {
        width: 70%;
    }
}
*/

.rotate { 
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    // border: 8px solid #fff;
    border: 8px solid #0052CC;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    // border-color: #fff transparent transparent transparent;
    border-color: #0052CC transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }  